html {
    zoom: 2.5; /* Quick Solution (Not recommended), currently no focus on responsive design */ 
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', Arial, sans-serif;
    background-image: url("images/table.png");
    background-size: cover;
    font-weight: bold;
    color: white;
    text-align: center;
}

div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}

h1 {
    color: goldenrod;
}

#message-el {
    font-style: italic;
}

button {
    color: #016f32;
    width: 150px;
    background: goldenrod;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    border: none;
    border-radius: 2px;
    margin-bottom: 2px;
    margin-top: 2px;
}

button:hover {
    background: #a37b14;
    cursor: pointer;
}

button:disabled {
    color: black;
    background: gray;
    cursor: not-allowed;
}